<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div th:switch="${message}">
	    <div th:case="'Success'">
	    	<div class="alert">
		    	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		        <strong style="color:green;">Selamat! Password berhasil diubah!</strong>
	        </div>
	    </div>
	    <div th:case="'Failed'">
	    	<div class="alert">
		    	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		        <strong style="color:red;">Oops! Password baru tidak sesuai. Silahkan coba lagi.</strong>
	        </div>
	    </div>
	    <div th:case="'NotMatch'">
	    	<div class="alert">
		    	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		        <strong style="color:red;">Oops! Password lama yang Anda masukkan salah. Silahkan coba lagi.</strong>
	        </div>
	    </div>
	</div>
    <div class="container-fluid">
        <div class="row">
        	<div class="col-md-6">
        		<div class="card">
        			<div class="card-header">
        				Update password
        			</div>
        			<div class="card-body">
        				<form th:action="@{/user/password/ubah}" method="post">
        					<div class="row form-group">
        						<label class="col-sm-4"> Password Lama</label>
        						<input class="col-sm-8 form-control input-sm" type="password" name="passwordLama"/>
        					</div>
        					<div class="row form-group">
        						<label class="col-sm-4"> Password Baru: </label>
        						<input class="col-sm-8 form-control input-sm" type="password" name="passwordBaru"/>
        					</div>
        					<div class="row form-group">
        						<label class="col-sm-4"> Konfirmasi Password Baru: </label>
        						<input class="col-sm-8 form-control input-sm" type="password" name="konfirmasiPassword"/>
        					</div>
        					<div>
        						<button type="submit" class="btn btn-primary"> Simpan </button>
        					</div>
        				</form>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</body>
</html>